[submodule ".local/share/nvim/site/pack/Completion/start/coc.nvim"]
	path = .local/share/nvim/site/pack/Completion/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".local/share/nvim/site/pack/ChadTree/start/chadtree"]
	path = .local/share/nvim/site/pack/ChadTree/start/chadtree
	url = https://github.com/ms-jpq/chadtree.git
[submodule "aconfmgr"]
	path = aconfmgr
	url = git@github.com:Kakemixen/aconfmgr.git
